*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
Làm việc từ ngoài vào trong
rồi tới làm từ trên xuống dưới
Từ tổng quan đến chi tiết
vị trí
kích thước(width, height)
*/
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}
/* common */
#main{
    
}
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px ;
    margin-right: -8px;
}
.mt-8{
    margin-top:8px;
}
.mt-16{
    margin-top:16px;
    
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third{
    width: 33.3333%;
}
/* main */
#header{
    height: 46px;
    background-color: black;
    position: fixed; 
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

}
#nav
{
    display: inline-block;

}
#nav li{
    display: inline-block;
    position: relative;
}
#nav .subnav{
    /*display: none;*/
    position: absolute;
    box-shadow: 0 0 10px rgb(172, 165, 165) ;
    display: none;
   

}
#nav .subnav li{
    width: 100%;
}

#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav li a
{
    color: blanchedalmond;
    text-decoration: none;
    line-height: 46px;
    padding:  0px 24px ;  
    display: block;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: black;
    background-color: #ccc;
}
#nav li:hover a{
    color: #fff;
    background-color: rgb(141, 127, 127);
    display: block;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 20px;
    
}

#header .search-btn:hover
{
    background-color: bisque;
}
#header .mobile-menu-btn:hover{
    background-color: rgb(255, 255, 255);
}
#header .mobile-menu-btn:hover .menu-icon{
    color: rgb(255, 255, 255);
}
#header .menu-icon,
#header .search-icon{
    color: blanchedalmond;
    font-size: 20px;
    line-height: 45.99px;
}

#slider{
   
    padding-top: 50%;
    background : url('../img/slider1.jpg') no-repeat 100%;
    /* width: 100%; */
    margin-top:45.99px ;

}
#slider .text-content{
    /* position: absolute; */
    color: rgba(255, 255, 255, 0.993);
    /* bottom: 49px; */
    right: 50%;
    text-align: center;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    

}
#slider .text-heading{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}
#slider .text-description{
    font-size: 25px;
}

#content .content-section{
    width: 800px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}
#content .content-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    font-style: italic;
    opacity: 0.7;
    
}
#content .about-text{
    margin-top: 20px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 48px;
}

#content .member-item{
    float: left;
    width: 33.33333%;
}
#content .member-name{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}
#content .member-img{
    margin-top: 15px;
    margin-left: 20%;
    width: 154px;
    border-radius: 5px;
    vertical-align: middle;
    
}
.tour-section{
    background-color: black;

}
.tour-ticker{
    background-color: white;
    margin-top: 40px;
    list-style: none;
}
.tour-ticker li{
    font-size: 15px;
    padding: 11px 16px; 
    border-bottom: 1px solid saddlebrown;
}
.tour-ticker .ticker{
    background-color: sienna;
    color: #fff;
    padding: 3px 5px;
    margin-left: 15px;
}
.tour-ticker .quantity{
    background-color: black;
    color: white;
    border-radius: 50px;
    float: right;
    width: 24px;
    height: 24px;
    text-align:center ;
    line-height: 24px;
}
/* location */
.place-list{
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.5;
}
.place-body{
    background-color: rgb(241, 240, 236);
}
.place-heading{
    font-weight: inherit;
    text-align: center;
    font-style: initial;

}

.contact-section{
    background: rgb(255, 255, 255);
}
.form-submit{
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 11px 16px;
    float: right;
}
.form-submit:hover{
    opacity: 0.9;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    background:rgb(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal.open{
    display: flex;
}
.modal-container{
    width: 900px;
    min-height: 200px;
    background: #fff;
    position: relative;
    animation: modalFadein ease .3s ;
    transform: translateY(-100px);

}
.modal-header{
    background: #009688;
    height:130px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #fff;
}
.modal-close:hover{
    opacity: 5;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.4;
}
.modal-body{
    padding: 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    padding: 15px;
    
}
.modal-input{
    height: 40px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
}
#buy-tickets{
    background: #009688;
    /* justify-content: center;
    align-items: center; */
    width: 100% ;
    height: 54px;
    margin-top: 15px;
    color: #fff;
    border: 1px solid #ccc;
    padding: 16px;
    
}
#buy-tickets:hover{
    opacity: 0.6;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.js-buy-ticket{
    background: black;
    color: #fff;
    height: 50px;
    width: 100px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
     
}
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    font-style: oblique;
    padding-bottom: 10px;
}
.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
}
.icon{
    padding-right: 20px;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer a{
    text-decoration: none;
    color: rgb(0,0,0,0.6);
}
#footer a:hover{
    opacity: 0.5;
    color: rgb(0,0,0,0.6);
    cursor: pointer;
}
.social{
    font-size: 24px;
}
#footer .copyright{
    margin-top: 15px;
    color: rgb(0,0,0,0.6);

}
@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}